body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffdee3;
    font-family: Arial, sans-serif;
}

.envelope {
    position: relative;
    width: 400px; 
    height: 300px;
    cursor: pointer;
    z-index: 5;
}

.flap {
    position: absolute;
    top: 150px; 
    left: 0;
    width: 0;
    height: 0; 
    border-left: 250px solid transparent; 
    border-right: 250px solid transparent; 
    border-top: 200px solid #c71f1f; 
    transform-origin: top;
    transition: transform 1.5s;
    z-index: 1;
}

.sticker {
    position: absolute;
    width: 100px; 
    height: auto;
    top: 120px; 
    left: 50px; 
    transform: rotate(-10deg); 
}


.body {
    position: absolute;
    top: 150px; 
    left: 0;
    width: 500px;
    height: 300px;
    background-color: #cf5353;
}

.sheet {
    position: absolute;
    top: 160px; 
    left: 10px;
    width: 480px; 
    height: 280px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 2.5s, top 2.5s;
    z-index: 2;
}

.message {
    position: absolute;
    top: 50px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #333;
    opacity: 0;
    z-index: 3;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.message h1 {
    margin: 0;
    font-size: 32px; 
}

.message p {
    margin: 20px 0 0; 
    font-size: 20px;
    
      
}

.envelope.open .flap {
    transform: rotateX(180deg);
}

.envelope.open .sheet {
    opacity: 1;
    top: -150px; 
}

.envelope.open .message {
    opacity: 1;
}

.photo-block {
    position: absolute;
    width: 250px;
    height: 340px;
    background: url('gatito__pixian_ai.png') no-repeat center center;
    background-size: cover;
    top: 450px; 
    left: 100px;
    z-index: 3; 
    border-radius: 1%;
}

.photo1 {
    position: absolute; 
    width: 350px;
    height: 540px;
    background: url('1.jpeg') no-repeat center center;
    background-size: cover;
    top: 300px; 
    right: 100px; 
    z-index: 3; 
    border-radius: 10%; 
}

.photo1 {
    position: absolute;
    width: 200px;
    height: 300px;
    background: url('me3.jpeg') no-repeat center center;
    background-size: cover;
    top: 350px; 
    right: 380px; 
    z-index: 3; 
    border-radius: 10%;
    transform: rotate(-10deg);
}


.photo3 {
    position: absolute; 
    width: 200px;
    height: 300px;
    background: url('me1.jpeg') no-repeat center center;
    background-size: cover;
    top: 330px; 
    right: 200px;
    z-index: 4;
    border-radius: 10%; 
   
}

.photo4 {
    position: absolute; 
    width: 200px;
    height: 300px;
    background: url('me2.jpeg') no-repeat center center;
    background-size: cover;
    top: 350px; 
    right: 50px; 
    z-index: 5; 
    border-radius: 10%; 
    transform: rotate(10deg);

}

.arrow {
    position: absolute; 
    width: 130px;
    height: 140px;
    background: url('arrow.png') no-repeat center center;
    background-size: cover;
    top: 200px; 
    right: 100px; 
    z-index: 7; 
    border-radius: 10%; 
    transform: rotate(10deg);

}

.text {
    position: absolute;
    top: 150px; 
    right: 250px;
    color: #333;
    opacity: 1;
    z-index: 6;
    font-family: "Comic Sans MS", cursive, sans-serif;
}



