body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('letcat.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #ffdee3;
    font-family: Arial, sans-serif;
}

.envelope {
    position: relative;
    width: 400px; /* Увеличено с 300px */
    height: 300px; /* Увеличено с 200px */
    cursor: pointer;
}

.flap {
    position: absolute;
    top: 150px; 
    left: 0;
    width: 0;
    height: 0; 
    border-left: 250px solid transparent; 
    border-right: 250px solid transparent; 
    border-top: 200px solid #c71f1f; 
    transform-origin: top;
    transition: transform 1.5s;
    z-index: 1;
}

.sticker {
    position: absolute;
    width: 100px; /* Размер наклейки */
    height: auto;
    top: 120px; /* Расположение от верхнего края */
    left: 50px; /* Расположение от левого края */
    transform: rotate(-10deg); /* Лёгкий наклон (по желанию) */
}


.body {
    position: absolute;
    top: 150px; 
    left: 0;
    width: 500px;
    height: 300px;
    background-color: #cf5353;
}

.sheet {
    position: absolute;
    top: 160px; 
    left: 10px;
    width: 480px; 
    height: 280px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 2.5s, top 2.5s;
    z-index: 2;
}

.message {
    position: absolute;
    top: 50px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #333;
    opacity: 0;
    z-index: 3;
}

.message h1 {
    margin: 0;
    font-size: 32px; 
}

.message p {
    margin: 20px 0 0; 
    font-size: 20px; 
}

.envelope.open .flap {
    transform: rotateX(180deg);
}

.envelope.open .sheet {
    opacity: 1;
    top: -150px; /* Увеличено с -100px */
}

.envelope.open .message {
    opacity: 1;
}

